<% if notice %>
	<div class='flex justify-between bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4 mx-5'>
		<%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
	</div>
<% end %>

<%# <% if alert %>
	<%# <div class='flex justify-between bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4 mx-5'> %>
		<%# <%= alert %>
        <%# <button type="button" class="close" data-dismiss="alert" aria-label="Close"> %>
            <%# <span aria-hidden="true">&times;</span> %>
        <%# </button> %>
	<%# </div> %>
<%# <% end %>